/* #232939
#E4D4AD */
.container{
    padding:0 2rem;
    background-color: #E4D4AD;
    min-height: 100vh;
}


.products * {
    color: #232939;
    transition: 0.3s ease-in-out;
    /* background: #E4D4AD; */
}

.products .newModSection {
    background-color: #E4D4AD;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
  
}

.products .newModSection h3 {
    font-style: italic;
    padding: 10px 5px;
}

.products .newModSection h4 {
    font-style: italic;
    max-width: 60%;
    text-wrap: wrap;
    padding: 10px;
    font-style: normal;
    font-weight: bold;

}

.products .newModSection img {
    width: 60%;
    border-radius: 15px;
    max-width: 300px;
    cursor: pointer;
}

.products .newModSection #left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.products .newModSection #right {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 10px;
    padding: 2.5rem 0;
    
}

.products .newModSection #right > div {
    width: 100%;
    max-width: 300px;
    padding: 5px 0;
    background-image: url('../../public/images/noimg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    border-radius: 15px;
    cursor: pointer;
    
}

.products .newModSection #right > div:hover,.products .newModSection #left > img:hover {
    transform: scale(1.2);
}

.cardsContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    /* justify-content: space-around; */
    align-items: center;
}

.card {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    width: 30%;
    /* max-width: 420px; */
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
}

.card .interactionBar{
    width: 100%;
    background-color: #232939;

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 1rem;
}


.PressedIcon{
    transition: 0.3s ease-in-out;
}

.PressedIcon:hover{
    transform: scale(1.5);
}
.PressedIcon:hover > * {
    color: rgb(244, 99, 99);
}

.PressedIcon * {
    color: #E4D4AD;
}

.moreButton {
    text-decoration: none;
    padding: 0.6rem 1rem;
    background-color: #232939;
    border-radius: 15px;
    color: #E4D4AD;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: none;
    outline: none;
}

.moreButton:hover{
    transform: scale(1.2);
}

.cardsContainer .btnsContainer{
    align-self: flex-end;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}